beautifulsoup4==4.10.0
robotframework-databaselibrary==1.2.4
PyAutoGUI==0.9.53
PyScreeze==0.1.28
MouseInfo==0.1.3
PyTweening==1.0.4
PyMsgBox==1.0.9
PyGetWindow==0.0.9
Pillow==9.0.1
pyperclip==1.8.2
PyRect==0.1.4
openpyxl==3.0.9
et-xmlfile==1.1.0
jdcal==1.4.1
PyYAML==6.0
SQLAlchemy==1.4.31
wheel==0.37.1
pyodbc==4.0.32  # On Mac to install this dependency execute: brew install unixodbc.
#(May also require: export LDFLAGS="-L/opt/homebrew/Cellar/unixodbc/2.3.9_1/lib"   and  export CPPFLAGS="-I/opt/homebrew/Cellar/unixodbc/2.3.9_1/include")
#Also check https://oracle.github.io/odpi/doc/installation.html#overview
pandas==1.4.1
cx_oracle==8.3.0
pymysql==1.0.2
numpy==1.22.3
python-dateutil==2.8.2
six==1.16.0
robotframework-csvlib==1.0.2
xlrd==2.0.1
lxml==4.7.1
jira==3.1.1